<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.haball">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light"
        android:largeHeap="true">
        <activity
            android:name=".Distributor.DistributorDashboard"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".Payment.ProofOfPaymentDashboard" />
        <activity android:name=".Order.DistributorOrder_ItemSelection"/>
        <activity android:name=".Order.DistributorOrder"/>
        <activity android:name=".Order.DistributorOrder_OnaddtoCart"/>
        <activity android:name=".Payment.PaymentLedger"/>
        <activity android:name=".Payment.DistributorPaymentRequest_CriteriaSelection"/>
        <activity android:name=".Payment.Payment_Screen3" />
        <activity android:name=".Payment.Payment_Screen2" />
        <activity android:name=".Payment.Payment_Screen1" />
        <activity android:name=".Payment.Proof_Of_Payment_Form" />
        <activity android:name=".Registration.Registration_Actvity2" />
        <activity android:name=".Registration.Registration_Activity" />
        <activity android:name=".Registration.Register_Activity_2" />
        <activity
            android:name=".Distribution_Login.Distribution_Login"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity android:name=".Support.Support_Ticket_Form" />
        <activity
            android:name=".Register_Activity.Register_Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Language_Selection.Language_Selection"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".Support.Support_view" />
        <activity android:name=".Support.Support_dashboard" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SplashScreen.SplashScreen"
            android:windowSoftInputMode="adjustNothing"

            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>