<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.haball">
    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light"
        android:usesCleartextTraffic="true">
        <activity android:name=".Distributor.ui.retailer.Retailor_Management.Retailer_Dashboard"></activity>
        <activity
            android:name=".Distributor.ui.retailer.RetailerOrder.RetailerViewOrder"
            android:label="@string/title_activity_retailer_view_order"
            android:theme="@style/NoActionBar"></activity>
        <activity
            android:name=".Distributor.ui.retailer.Payment.ViewPayment.RetailerPaymentView"
            android:label="@string/title_activity_retailer_payment_view"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Distributor.ui.retailer.RetailerPlaceOrder.RetailerPlaceOrder"
            android:label="@string/title_activity_retailer_place_order"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Distributor.ui.orders.OrdersTabsLayout.Orders_Dashboard"
            android:label="@string/title_activity_orders__dashboard"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Retailor.ui.Network.My_NetworkDashboard"
            android:label="@string/title_activity_my__network"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Invoice.Distributor_Invoice_DashBoard"
            android:label="@string/title_activity_distributor__invoice__dash_board"
            android:theme="@style/NoActionBar" />
        <activity android:name=".Notfication.Notification" />
        <activity android:name=".Retailor.Retailor_SignUp.SignUp" />
        <activity
            android:name=".Retailor.RetailorDashboard"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Distributor.DistributorDashboard"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".Payment.ProofOfPaymentDashboard" />
        <activity android:name=".Order.DistributorOrder_ItemSelection" />
        <activity android:name=".Order.DistributorOrder" />
        <activity android:name=".Order.DistributorOrder_OnaddtoCart" />
        <activity android:name=".Payment.PaymentLedger" />
        <activity android:name=".Payment.D_PaymentRequest" />
        <activity android:name=".Payment.Payment_Make_New" />
        <activity android:name=".Payment.Payment_Update" />
        <activity android:name=".Payment.Payment_Amount" />
        <activity android:name=".Payment.Proof_Of_Payment_Form" />
        <activity android:name=".Order.DistributorOrder_ShopSelection" />
        <activity android:name=".Retailer_Login.RetailerLogin" />
        <activity android:name=".Distribution_Login.Distribution_Login" />
        <activity android:name=".Registration.Registration_Activity" />
        <activity android:name=".Registration.Register_Activity_2" />
        <activity android:name=".Registration.Registration_Actvity2" />
        <activity android:name=".Support.Support_Ticket_Form" />
        <activity android:name=".Distributor.ui.support.SupportTicketFormFragment" />
        <activity
            android:name=".Select_User.Register_Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Language_Selection.Language_Selection"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".Support.Support_view" />
        <activity android:name=".Support.Support_dashboard" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SplashScreen.SplashScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>